@page
@using System.Data;
@model IntugentWebApp.Pages.RnD_Users.FormulationsModel
@{
    ViewData["ActivePage"] = "Formulations Page";
}

<!-- Error message -->
@if (TempData["ErrorOnServer"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Error: @TempData["ErrorOnServer"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row">
    <!-- Search Card -->
    <div class="card card-default">
        <div class="card-header align-items-center">
            <h2 class="">General Info</h2>
        </div>

        <div class="card-body">
            <form method="post">
                <div class="row mb-2">
                    <div class="col-lg-3">
                        <!-- ID -->
                        <div class="mb-2 row">
                            <label for="projectID" class="col-md-3 col-form-label">Project ID</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="projectID" value="@Model.gID" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <!-- Project/StudyName -->
                        <div class="mb-2 row">
                            <label for="projectStudyName" class="col-md-2 col-form-label">Project/Study Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="projectStudyName" value="@Model.gStudyName" onblur="OnGenInfo_LF('gStudyName',this.value)">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-3">
                        <!-- Study Type -->
                        <div class="form-floating mb-2">
                            <select class="form-select" id="studyType" onblur="OnGenInfo_LF('gStudyType',this.value)">
                                @foreach (DataRowView row in Model.gStudyType)
                                {
                                    <option value="@row["ID"]" selected="@(Model.gStudyTypeSelectedValue == Int32.Parse(row["ID"].ToString()))" onblur="OnGenInfo_LF('gStudyType',this.value)">@row["sName"]</option>
                                }
                            </select>
                            <label for="studyType">Study Type</label>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <!-- relatedProduct -->
                        <div class="form-floating mb-2">
                            <select class="form-select" id="relatedProduct" onblur="OnGenInfo_LF('gProductID',this.value)">
                                @foreach (DataRowView row in Model.gProductID)
                                {
                                    <option value="@row["Product Code"]" selected="@(Model.gProductIDSelectedValue== (row["Product Code"].ToString()))">@row["Product"]</option>
                                }
                            </select>
                            <label for="relatedProduct">Related Product</label>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <!-- designedBy -->
                        <div class="form-floating mb-2">
                            <select class="form-select" id="designedBy" onblur="OnGenInfo_LF('gChemist',this.value)">
                                @foreach (DataRowView row in Model.gChemist)
                                {
                                    <option value="@row["ID"]" selected="@(Model.gChemistSelectedValue== Int32.Parse(row["ID"].ToString()))">@row["Employees"]</option>
                                }
                            </select>
                            <label for="designedBy">Designed By</label>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <!-- conductedBy -->
                        <div class="form-floating mb-2">
                            <select class="form-select" id="conductedBy" onblur="OnGenInfo_LF('gOperator',this.value)">
                                @foreach (DataRowView row in Model.gOperator)
                                {
                                    <option value="@row["ID"]" selected="@(Model.gOperatorSelectedValue== Int32.Parse(row["ID"].ToString()))">@row["Employees"]</option>
                                }
                            </select>
                            <label for="conductedBy">Conducted By</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <!-- experimentsDate -->
                        <div class="form-floating">
                            <input type="date" class="form-control" id="experimentsDate" placeholder="" value="@Model.gDateDSCreated?.ToString("yyyy-MM-dd")" onblur="OnGenInfo_LF('gDateDSCreated',this.value)">
                            <label for="experimentsDate">Date of Experiments</label>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                        <!-- abandoned -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" onchange="GCheckBox('gAbandoned',this)" class="custom-control-input" id="abandoned" checked="@Model.gAbandonedIsChecked">
                            <label class="custom-control-label" for="abandoned">Abandoned</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="card card-default">
        <div class="card-header align-items-center">
            <h2 class="">Formulation Details</h2>
        </div>

        <div class="card-body">
            <table class="table mb-4">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            NCO Index (NCO equivs per 100 Equivalents of Active-H)
                        </th>
                        <th scope="col">#1</th>
                        <th scope="col">#2</th>
                        <th scope="col">#3</th>
                        <th scope="col">#4</th>
                        <th scope="col">#5</th>
                        <th scope="col">#6</th>
                        <th scope="col">#7</th>
                        <th scope="col">#8</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int rowIndex2 = 0;
                    }
                    @foreach (var row in Model.gNco)
                    {
                        int[] colIndex = { 0, 1, 2, 3, 4, 5, 6, 7, 8 };
                        <tr id="row-@rowIndex2">
                            <td id="Nco-@rowIndex2-@colIndex[0]">@row.MatName</td>
                            <td class="td" id="Nco-@rowIndex2-@colIndex[1]">@row.Pbw1</td>
                            <td class="td" id="Nco-@rowIndex2-@colIndex[2]">@row.Pbw2</td>
                            <td class="td" id="Nco-@rowIndex2-@colIndex[3]">@row.Pbw3</td>
                            <td class="td" id="Nco-@rowIndex2-@colIndex[4]">@row.Pbw4</td>
                            <td class="td" id="Nco-@rowIndex2-@colIndex[5]">@row.Pbw5</td>
                            <td class="td" id="Nco-@rowIndex2-@colIndex[6]">@row.Pbw6</td>
                            <td class="td" id="Nco-@rowIndex2-@colIndex[7]">@row.Pbw7</td>
                            <td class="td" id="Nco-@rowIndex2-@colIndex[8]">@row.Pbw8</td> 
                        </tr>
                        rowIndex2++;
                    }
                </tbody>
            </table>

            <table class="table mb-4">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            Side A (ISO Side) Material
                        </th>
                        <th scope="col">Type</th>
                        <th scope="col">%NCO</th>
                        <th scope="col">Func.</th>
                        <th scope="col">#1</th>
                        <th scope="col">#2</th>
                        <th scope="col">#3</th>
                        <th scope="col">#4</th>
                        <th scope="col">#5</th>
                        <th scope="col">#6</th>
                        <th scope="col">#7</th>
                        <th scope="col">#8</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int rowIndex4 = 0;
                    }
                    @foreach (var row in Model.gIso)
                    {
                        int[] colIndex = { 0, 1, 2, 3, 4, 5, 6, 7, 8 };
                        <tr id="row-@rowIndex4">
                            <td id="Descriptors-@rowIndex4-@colIndex[0]">@row.MatName</td>
                            <td id="Descriptors-@rowIndex4-@colIndex[0]">@row.MatType</td>
                            <td id="Descriptors-@rowIndex4-@colIndex[0]">@row.MatNco</td>
                            <td id="Descriptors-@rowIndex4-@colIndex[0]">@row.MatFunc</td>
                            <td class="td" id="Descriptors-@rowIndex4-@colIndex[1]">@row.Pbw1</td>
                            <td class="td" id="Descriptors-@rowIndex4-@colIndex[2]">@row.Pbw2</td>
                            <td class="td" id="Descriptors-@rowIndex4-@colIndex[3]">@row.Pbw3</td>
                            <td class="td" id="Descriptors-@rowIndex4-@colIndex[4]">@row.Pbw4</td>
                            <td class="td" id="Descriptors-@rowIndex4-@colIndex[5]">@row.Pbw5</td>
                            <td class="td" id="Descriptors-@rowIndex4-@colIndex[6]">@row.Pbw6</td>
                            <td class="td" id="Descriptors-@rowIndex4-@colIndex[7]">@row.Pbw7</td>
                            <td class="td" id="Descriptors-@rowIndex4-@colIndex[8]">@row.Pbw8</td>
                        </tr>
                        rowIndex4++;
                    }
                </tbody>
            </table>

            <table class="table table-striped mb-4">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            Side B (Polyol Side) Material
                        </th>
                        <th scope="col">Type</th>
                        <th scope="col">OH#</th>
                        <th scope="col">Func.</th>
                        <th scope="col">#1</th>
                        <th scope="col">#2</th>
                        <th scope="col">#3</th>
                        <th scope="col">#4</th>
                        <th scope="col">#5</th>
                        <th scope="col">#6</th>
                        <th scope="col">#7</th>
                        <th scope="col">#8</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int rowIndex5 = 0;
                    }
                    @foreach (var row in Model.gPO)
                    {
                        int[] colIndex = { 0, 1, 2, 3, 4, 5, 6, 7, 8 };
                        <tr id="row-@rowIndex5">
                            <td id="Descriptors-@rowIndex5-@colIndex[0]">@row.MatName</td>
                            <td id="Descriptors-@rowIndex5-@colIndex[0]">@row.MatType</td>
                            <td id="Descriptors-@rowIndex5-@colIndex[0]">@row.MatNco</td>
                            <td id="Descriptors-@rowIndex5-@colIndex[0]">@row.MatFunc</td>
                            <td class="td" id="Descriptors-@rowIndex5-@colIndex[1]">@row.Pbw1</td>
                            <td class="td" id="Descriptors-@rowIndex5-@colIndex[2]">@row.Pbw2</td>
                            <td class="td" id="Descriptors-@rowIndex5-@colIndex[3]">@row.Pbw3</td>
                            <td class="td" id="Descriptors-@rowIndex5-@colIndex[4]">@row.Pbw4</td>
                            <td class="td" id="Descriptors-@rowIndex5-@colIndex[5]">@row.Pbw5</td>
                            <td class="td" id="Descriptors-@rowIndex5-@colIndex[6]">@row.Pbw6</td>
                            <td class="td" id="Descriptors-@rowIndex5-@colIndex[7]">@row.Pbw7</td>
                            <td class="td" id="Descriptors-@rowIndex5-@colIndex[8]">@row.Pbw8</td>
                        </tr>
                        rowIndex5++;
                    }
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary m-1">
                        Add A Row
                    </button>
                    <button type="button" class="btn btn-primary m-1">
                        Paste Formulations pbw
                    </button>
                </div>

                <div class="col-md-6">
                    <div class="row align-items-center justify-content-between">
                        <label for="sampleMass" class="col-md-9 col-form-label">Total Sample Mass needed for Foamat Experiment (gm) </label>
                        <div class="col-md-3">
                            <input type="number" onblur="OngFoamatGmLostFocus(this.value)" value="@Model.gFoamatGm" class="form-control" id="sampleMass">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="card card-default">
        <div class="card-header align-items-center">
            <h2 class="">Preliminary Material Science Analysis of the Formulations</h2>
        </div>

        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            Descriptors
                        </th>
                        <th scope="col">#1</th>
                        <th scope="col">#2</th>
                        <th scope="col">#3</th>
                        <th scope="col">#4</th>
                        <th scope="col">#5</th>
                        <th scope="col">#6</th>
                        <th scope="col">#7</th>
                        <th scope="col">#8</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int rowIndex3 = 0;
                    }
                    @foreach (DataRowView row in Model.gFormProps)
                    {
                        int[] colIndex = { 0, 1, 2, 3, 4, 5, 6, 7, 8 };
                        <tr id="row-@rowIndex3">
                            <td id="Descriptors-@rowIndex3-@colIndex[0]">@row["Descriptors"]</td>
                            <td id="Descriptors-@rowIndex3-@colIndex[1]">@row["#1"]</td>
                            <td id="Descriptors-@rowIndex3-@colIndex[2]">@row["#2"]</td>
                            <td id="Descriptors-@rowIndex3-@colIndex[3]">@row["#3"]</td>
                            <td id="Descriptors-@rowIndex3-@colIndex[4]">@row["#4"]</td>
                            <td id="Descriptors-@rowIndex3-@colIndex[5]">@row["#5"]</td>
                            <td id="Descriptors-@rowIndex3-@colIndex[6]">@row["#6"]</td>
                            <td id="Descriptors-@rowIndex3-@colIndex[7]">@row["#7"]</td>
                            <td id="Descriptors-@rowIndex3-@colIndex[8]">@row["#8"]</td>
                        </tr>
                        rowIndex3++;
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            $(function () {
                $(".td").click(function (event) {
                    if ($(this).children("input").length > 0)
                        return false;

                    var tdObj = $(this);
                    var preText = tdObj.html();
                    var inputObj = $("<input type='text' />");
                    tdObj.html("");

                    inputObj.width(tdObj.width())
                        .height(tdObj.height())
                        .css({ border: "0px", fontSize: "13px" })
                        .val(preText)
                        .appendTo(tdObj)
                        .trigger("focus")
                        .trigger("select");

                    inputObj.keyup(function (event) {
                        if (13 == event.which) { // press ENTER-key
                            var text = $(this).val();
                            tdObj.html(text);
                        }
                        else if (27 == event.which) {  // press ESC-key
                            tdObj.html(preText);
                        }
                    });

                    inputObj.click(function () {
                        return false;
                    });
                    inputObj.blur(function () {
                        var text = $(this).val();
                        tdObj.html(text);

                        var cellId = tdObj.attr("id");
                        var ids = cellId.split("-");
                        var table = ids[0];
                        var rowId = ids[1];
                        var colId = ids[2];
                        if (table == "Nco") {
                            OnGNcoCell(rowId, colId, text);
                        }
                    });
                });
            });
        });

        function OnGNcoCell(rowId, colId, text) {
            // console.log("Row ID: " + rowId + ", Column ID: " + colId + ", New Value: " + text);
            $.ajax({
                type: "POST",
                url: "/RnD_Users/Formulations?handler=GNcoCellEditEnding",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { rowId: rowId, colId: colId, text: text },
                success: function (response) {
                    console.log('Server response:', response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function OnGenInfo_LF(Name,Value) {
            // console.log("Row ID: " + rowId + ", Column ID: " + colId + ", New Value: " + text);
            $.ajax({
                type: "POST",
                url: "/RnD_Users/Formulations?handler=GenInfo_LF",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { Name: Name, Value : Value },
                success: function (response) {
                    console.log('Server response:', response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function OngFoamatGmLostFocus(value) {
            // console.log("Row ID: " + rowId + ", Column ID: " + colId + ", New Value: " + text);
            $.ajax({
                type: "POST",
                url: "/RnD_Users/Formulations?handler=OngFoamatGmLostFocus",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { value: value },
                success: function (response) {
                    console.log('Server response:', response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function GCheckBox(Name, element) {
            let value;

            if (element.type === "checkbox") {
                value = element.checked ? "true" : "false";
            } else {
                value = element.value;
            }
            //console.log(Name,value)
            OnGenInfo_LF(Name, value)
        }

    </script>
}