@page
@using System.Data;
@model IntugentWebApp.Pages.RnD_Users.RNDRawPropDataModel
@{
    ViewData["ActivePage"] = "Raw Prop. Data";
}
@* Error Message *@
@if (TempData["ErrorOnServer"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Error: @TempData["ErrorOnServer"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="row">
    <div class="col-4">
        <!-- Experimental Density Data -->
        <div class="card card-default" style="min-height:400px;">
            <div class="card-header align-items-center">
                <h2 class=""> Experimental Density Data</h2>
            </div>
            <div class="card-body">
                <table class="table table-sm table-bordered table-hover table-striped table-responsive-md editable-table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Property</th>
                            <th scope="col">#1</th>
                            <th scope="col">#2</th>
                            <th scope="col">#3</th>
                            <th scope="col">#4</th>
                            <th scope="col">#5</th>
                            <th scope="col">#6</th>
                            <th scope="col">#7</th>
                            <th scope="col">#8</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int rowIndex = 0;
                        }
                        @foreach (DataRowView row in Model.gDensityE)
                        {
                            int[] colIndex = { 0, 1, 2, 3, 4, 5, 6 ,7 ,8};
                            <tr id="row-@rowIndex">
                                <td id="DensityE-@rowIndex-@colIndex[0]">@row["PropName"]</td>
                                <td class="td" id="DensityE-@rowIndex-@colIndex[1]">@row["PropE1"]</td>
                                <td class="td" id="DensityE-@rowIndex-@colIndex[2]">@row["PropE2"]</td>
                                <td class="td" id="DensityE-@rowIndex-@colIndex[3]">@row["PropE3"]</td>
                                <td class="td" id="DensityE-@rowIndex-@colIndex[4]">@row["PropE4"]</td>
                                <td class="td" id="DensityE-@rowIndex-@colIndex[5]">@row["PropE5"]</td>
                                <td class="td" id="DensityE-@rowIndex-@colIndex[6]">@row["PropE6"]</td>
                                <td class="td" id="DensityE-@rowIndex-@colIndex[7]">@row["PropE7"]</td>
                                <td class="td" id="DensityE-@rowIndex-@colIndex[8]">@row["PropE8"]</td>
                            </tr>
                            rowIndex++;
                        }
                        @foreach (DataRowView row in Model.gDensityC)
                        {
                            int[] colIndex = { 1, 2, 3, 4, 5, 6, 7, 8, 9 };
                            <tr id="row-@rowIndex">
                                <td id="DensityC-@rowIndex-@colIndex[0]">@row["PropName"]</td>
                                <td id="DensityC-@rowIndex-@colIndex[1]">@row["PropC1"]</td>
                                <td id="DensityC-@rowIndex-@colIndex[2]">@row["PropC2"]</td>
                                <td id="DensityC-@rowIndex-@colIndex[3]">@row["PropC3"]</td>
                                <td id="DensityC-@rowIndex-@colIndex[4]">@row["PropC4"]</td>
                                <td id="DensityC-@rowIndex-@colIndex[5]">@row["PropC5"]</td>
                                <td id="DensityC-@rowIndex-@colIndex[6]">@row["PropC6"]</td>
                                <td id="DensityC-@rowIndex-@colIndex[7]">@row["PropC7"]</td>
                                <td id="DensityC-@rowIndex-@colIndex[8]">@row["PropC8"]</td>
                            </tr>
                            rowIndex++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-8">
        <!-- Experimental Pore Scan Data -->
        <div class="card card-default" style="min-height:400px;">
            <div class="card-header align-items-center">
                <h2 class="">Experimental Pore Scan Data</h2>
            </div>
            <div class="card-body">
                <table class="table table-sm table-bordered table-hover table-striped table-responsive-md">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Property</th>
                            <th scope="col">#1</th>
                            <th scope="col">#2</th>
                            <th scope="col">#3</th>
                            <th scope="col">#4</th>
                            <th scope="col">#5</th>
                            <th scope="col">#6</th>
                            <th scope="col">#7</th>
                            <th scope="col">#8</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int rowIndex1 = 0;
                        }
                      @foreach (DataRowView row in Model.gPoreScanE)
                        {
                            int[] colIndex = { 0, 1, 2, 3, 4, 5, 6, 7, 8 };
                            <tr id="row-@rowIndex1">
                                <td id="PoreScanE-@rowIndex1-@colIndex[0]">@row["PropName"]</td>
                                <td class="td" id="PoreScanE-@rowIndex1-@colIndex[1]">@row["PropE1"]</td>
                                <td class="td" id="PoreScanE-@rowIndex1-@colIndex[2]">@row["PropE2"]</td>
                                <td class="td" id="PoreScanE-@rowIndex1-@colIndex[3]">@row["PropE3"]</td>
                                <td class="td" id="PoreScanE-@rowIndex1-@colIndex[4]">@row["PropE4"]</td>
                                <td class="td" id="PoreScanE-@rowIndex1-@colIndex[5]">@row["PropE5"]</td>
                                <td class="td" id="PoreScanE-@rowIndex1-@colIndex[6]">@row["PropE6"]</td>
                                <td class="td" id="PoreScanE-@rowIndex1-@colIndex[7]">@row["PropE7"]</td>
                                <td class="td" id="PoreScanE-@rowIndex1-@colIndex[8]">@row["PropE8"]</td>
                            </tr>
                            rowIndex1++;
                        }
                        @foreach (DataRowView row in Model.gPoreScanC)
                        {
                            <tr>
                                <td>@row["PropName"]</td>
                                <td>@row["PropC1"]</td>
                                <td>@row["PropC2"]</td>
                                <td>@row["PropC3"]</td>
                                <td>@row["PropC4"]</td>
                                <td>@row["PropC5"]</td>
                                <td>@row["PropC6"]</td>
                                <td>@row["PropC7"]</td>
                                <td>@row["PropC8"]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <div class="col-12 row">

            <!-- Experimental Compressive Strength Data -->
        <div class="card card-default col-6" style="min-height:250px;">
                <div class="card-header align-items-center">
                    <h2 class="">Experimental Compressive Strength Data</h2>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-bordered table-hover table-striped table-responsive-md">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Property</th>
                                <th scope="col">#1</th>
                                <th scope="col">#2</th>
                                <th scope="col">#3</th>
                                <th scope="col">#4</th>
                                <th scope="col">#5</th>
                                <th scope="col">#6</th>
                                <th scope="col">#7</th>
                                <th scope="col">#8</th>
                            </tr>
                        </thead>
                        <tbody>
                        @{
                            int rowIndex2 = 0;
                        }
                        @foreach (DataRowView row in Model.gCompStrE)
                            {
                            int[] colIndex = { 0, 1, 2, 3, 4, 5, 6, 7, 8 };
                            <tr id="row-@rowIndex2">
                                <td id="CompStrE-@rowIndex2-@colIndex[0]">@row["PropName"]</td>
                                <td class="td" id="CompStrE-@rowIndex2-@colIndex[1]">@row["PropE1"]</td>
                                <td class="td" id="CompStrE-@rowIndex2-@colIndex[2]">@row["PropE2"]</td>
                                <td class="td" id="CompStrE-@rowIndex2-@colIndex[3]">@row["PropE3"]</td>
                                <td class="td" id="CompStrE-@rowIndex2-@colIndex[4]">@row["PropE4"]</td>
                                <td class="td" id="CompStrE-@rowIndex2-@colIndex[5]">@row["PropE5"]</td>
                                <td class="td" id="CompStrE-@rowIndex2-@colIndex[6]">@row["PropE6"]</td>
                                <td class="td" id="CompStrE-@rowIndex2-@colIndex[7]">@row["PropE7"]</td>
                                <td class="td" id="CompStrE-@rowIndex2-@colIndex[8]">@row["PropE8"]</td>
                            </tr>
                            rowIndex2++;
                            }
                        @foreach (DataRowView row in Model.gCompStrC)
                        {

                            <tr>
                                <td>@row["PropName"]</td>
                                <td>@row["PropC1"]</td>
                                <td>@row["PropC2"]</td>
                                <td>@row["PropC3"]</td>
                                <td>@row["PropC4"]</td>
                                <td>@row["PropC5"]</td>
                                <td>@row["PropC6"]</td>
                                <td>@row["PropC7"]</td>
                                <td>@row["PropC8"]</td>
                            </tr>

                        }
                    </tbody>
                    </table>
                </div>
            </div>
            <!-- Percent Closed Cell (%CC) Data -->
        <div class="card card-default col-6" style="min-height:250px;">
                <div class="card-header align-items-center">
                    <h2 class="">Percent Closed Cell (%CC) Data</h2>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-bordered table-hover table-striped table-responsive-md">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Property</th>
                                <th scope="col">#1</th>
                                <th scope="col">#2</th>
                                <th scope="col">#3</th>
                                <th scope="col">#4</th>
                                <th scope="col">#5</th>
                                <th scope="col">#6</th>
                                <th scope="col">#7</th>
                                <th scope="col">#8</th>
                            </tr>
                        </thead>
                        <tbody>
                        @{
                            int rowIndex3 = 0;
                        }
                        @foreach (DataRowView row in Model.gCloseCellE)
                            {
                            int[] colIndex = { 0, 1, 2, 3, 4, 5, 6, 7, 8 };
                            <tr id="row-@rowIndex3">
                                <td id="CloseCellE-@rowIndex3-@colIndex[0]">@row["PropName"]</td>
                                <td class="td" id="CloseCellE-@rowIndex3-@colIndex[1]">@row["PropE1"]</td>
                                <td class="td" id="CloseCellE-@rowIndex3-@colIndex[2]">@row["PropE2"]</td>
                                <td class="td" id="CloseCellE-@rowIndex3-@colIndex[3]">@row["PropE3"]</td>
                                <td class="td" id="CloseCellE-@rowIndex3-@colIndex[4]">@row["PropE4"]</td>
                                <td class="td" id="CloseCellE-@rowIndex3-@colIndex[5]">@row["PropE5"]</td>
                                <td class="td" id="CloseCellE-@rowIndex3-@colIndex[6]">@row["PropE6"]</td>
                                <td class="td" id="CloseCellE-@rowIndex3-@colIndex[7]">@row["PropE7"]</td>
                                <td class="td" id="CloseCellE-@rowIndex3-@colIndex[8]">@row["PropE8"]</td>
                            </tr>
                            rowIndex3++;

                            }
                        @foreach (DataRowView row in Model.gCloseCellC)
                        {

                            <tr>
                                <td>@row["PropName"]</td>
                                <td>@row["PropC1"]</td>
                                <td>@row["PropC2"]</td>
                                <td>@row["PropC3"]</td>
                                <td>@row["PropC4"]</td>
                                <td>@row["PropC5"]</td>
                                <td>@row["PropC6"]</td>
                                <td>@row["PropC7"]</td>
                                <td>@row["PropC8"]</td>
                            </tr>

                        }
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
    <div class="col-12">
        <!-- Experimental Hot Plates' Data -->
        <div class="card card-default" style="min-height:500px;">
            <div class="card-header align-items-center">
                <h2 class="">Experimental Hot Plates' Data</h2>
            </div>
            <div class="card-body">
                <table class="table table-sm table-bordered table-hover table-striped table-responsive-md">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Bind Gas Name Here</th>    
                            <th scope="col">#1-Init</th>
                            <th scope="col">#1-Final</th>
                            <th scope="col">#2-Init</th>
                            <th scope="col">#2-Final</th>
                            <th scope="col">#3-Init</th>
                            <th scope="col">#3-Final</th>
                            <th scope="col">#4-Init</th>
                            <th scope="col">#4-Final</th>
                            <th scope="col">#5-Init</th>
                            <th scope="col">#5-Final</th>
                            <th scope="col">#6-Init</th>
                            <th scope="col">#6-Final</th>
                            <th scope="col">#7-Init</th>
                            <th scope="col">#7-Final</th>
                            <th scope="col">#8-Init</th>
                            <th scope="col">#8-Final</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int rowIndex4 = 0;
                        }
                       @foreach (DataRowView row in Model.gHotPlatesE)
                        {

                       int[] colIndex = { 0, 1, 2, 3, 4, 5, 6, 7, 8 ,9,10,11,12,13,14,15,16};
                            <tr id="row-@rowIndex4">
                       <td id="HotPlatesE-@rowIndex4-@colIndex[0]">@row["PropName"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[1]">@row["PropEi1"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[2]">@row["PropEf1"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[3]">@row["PropEi2"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[4]">@row["PropEf2"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[5]">@row["PropEi3"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[6]">@row["PropEf3"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[7]">@row["PropEi4"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[8]">@row["PropEf4"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[9]">@row["PropEi5"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[10]">@row["PropEf5"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[11]">@row["PropEi6"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[12]">@row["PropEf6"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[13]">@row["PropEi7"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[14]">@row["PropEf7"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[15]">@row["PropEi8"]</td>
                       <td class="td" id="HotPlatesE-@rowIndex4-@colIndex[16]">@row["PropEf8"]</td>
                        </tr>
                         rowIndex4++;
                        }
                        @foreach (DataRowView row in Model.gHotPlatesC1)
                        {

                            <tr>
                                <td>@row["PropName"]</td>
                                <td>@row["PropEi1"]</td>
                                <td>@row["PropEf1"]</td>
                                <td>@row["PropEi2"]</td>
                                <td>@row["PropEf2"]</td>
                                <td>@row["PropEi3"]</td>
                                <td>@row["PropEf3"]</td>
                                <td>@row["PropEi4"]</td>
                                <td>@row["PropEf4"]</td>
                                <td>@row["PropEi5"]</td>
                                <td>@row["PropEf5"]</td>
                                <td>@row["PropEi6"]</td>
                                <td>@row["PropEf6"]</td>
                                <td>@row["PropEi7"]</td>
                                <td>@row["PropEf7"]</td>
                                <td>@row["PropEi8"]</td>
                                <td>@row["PropEf8"]</td>
                            </tr>
                        }
                        @foreach (DataRowView row in Model.gHotPlatesC)
                        {

                            <tr>
                                <td>@row["PropName"]</td>
                                <td>@row["PropC1"]</td>
                                <td>@row["PropC2"]</td>
                                <td>@row["PropC3"]</td>
                                <td>@row["PropC4"]</td>
                                <td>@row["PropC5"]</td>
                                <td>@row["PropC6"]</td>
                                <td>@row["PropC7"]</td>
                                <td>@row["PropC8"]</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            $(function () {
                $(".td").click(function (event) {
                    if ($(this).children("input").length > 0)
                        return false;

                    var tdObj = $(this);
                    var preText = tdObj.html();
                    var inputObj = $("<input type='text' />");
                    tdObj.html("");

                    inputObj.width(tdObj.width())
                        .height(tdObj.height())
                        .css({ border: "0px", fontSize: "13px" })
                        .val(preText)
                        .appendTo(tdObj)
                        .trigger("focus")
                        .trigger("select");

                    inputObj.keyup(function (event) {
                        if (13 == event.which) { // press ENTER-key
                            var text = $(this).val();
                            tdObj.html(text);
                        }
                        else if (27 == event.which) {  // press ESC-key
                            tdObj.html(preText);
                        }
                    });

                    inputObj.click(function () {
                        return false;
                    });
                    inputObj.blur(function () {
                        var text = $(this).val();
                        tdObj.html(text);

                        var cellId = tdObj.attr("id");
                        var ids = cellId.split("-");
                        var table = ids[0];
                        var rowId = ids[1];
                        var colId = ids[2];
                        if (table == "DensityE") {
                            onDensityEBlur(rowId, colId, text);
                        }
                        else if(table=="PoreScanE"){
                            onPoreScanEBlur(rowId, colId, text);
                        }
                        else if (table == "CompStrE") {
                            onCompStrEBlur(rowId, colId, text);
                        }
                        else if (table == "CloseCellE") {
                            onCloseCellEBlur(rowId, colId, text);
                        }
                        else if (table == "HotPlatesE") {
                            onHotPlatesEBlur(rowId, colId, text);
                        }
                    });
                });
            });
        });

        function onDensityEBlur(rowId, colId, text) {
           // console.log("Row ID: " + rowId + ", Column ID: " + colId + ", New Value: " + text);
            $.ajax({
                type: "POST",
                url: "/RnD_Users/RNDRawPropDatas?handler=GBlurDensityE_Click",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { rowId : rowId ,colId : colId , text :text },
                success: function (response) {
                    console.log('Server response:', response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function onPoreScanEBlur(rowId, colId, text) {
            // console.log("Row ID: " + rowId + ", Column ID: " + colId + ", New Value: " + text);
            $.ajax({
                type: "POST",
                url: "/RnD_Users/RNDRawPropDatas?handler=OngPoreScaneE",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { rowId: rowId, colId: colId, text: text },
                success: function (response) {
                    console.log('Server response:', response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function onCompStrEBlur(rowId, colId, text) {
            // console.log("Row ID: " + rowId + ", Column ID: " + colId + ", New Value: " + text);
            $.ajax({
                type: "POST",
                url: "/RnD_Users/RNDRawPropDatas?handler=GCompStrE",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { rowId: rowId, colId: colId, text: text },
                success: function (response) {
                    console.log('Server response:', response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function onCloseCellEBlur(rowId, colId, text) {
            // console.log("Row ID: " + rowId + ", Column ID: " + colId + ", New Value: " + text);
            $.ajax({
                type: "POST",
                url: "/RnD_Users/RNDRawPropDatas?handler=CloseCellEBlur",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { rowId: rowId, colId: colId, text: text },
                success: function (response) {
                    console.log('Server response:', response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function onHotPlatesEBlur(rowId, colId, text) {
            // console.log("Row ID: " + rowId + ", Column ID: " + colId + ", New Value: " + text);
            $.ajax({
                type: "POST",
                url: "/RnD_Users/RNDRawPropDatas?handler=OngHotPlatesE",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { rowId: rowId, colId: colId, text: text },
                success: function (response) {
                    console.log('Server response:', response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
    </script>
}