@page
@using System.Data;
@model IntugentWebApp.Pages.Mfg_Group.MfgProcessCheckModel
@{
    ViewData["ActivePage"] = "Process Check";
}
@* Error Message *@
@if (TempData["ErrorOnServer"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Error: @TempData["ErrorOnServer"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="row">
    <div class="row col-12">
        @* DataSet Card *@
        <div class="card card-default col-2">
            <div class="card-header align-items-center">
                <h2 class="">Navigation</h2>
            </div>
            <div class="card-body">
                <!-- Dataset -->
                <label>Check Sheet</label>
                <div class="input-group col-12 d-flex">
                    <button class="btn btn-primary m-auto" type="button" style="padding: 9px" onclick="gNavClick('prev')"><span class="mdi mdi-chevron-left"></span></button>
                    <input type="number" class="form-control text-center w-50" disabled value="@Model.gID">
                    <button onclick="gNavClick('next')" name="" class="btn btn-primary m-auto" type="button" style="padding: 9px"><span class="mdi mdi-chevron-right"></span></button>
                    </div>
                </div>
            </div>
    <!-- General Info Card -->
    <div class="card card-default col-10">
        <div class="card-header align-items-center">
            <h2 class="">General Info</h2>
        </div>
        <div class="card-body">
                <div class="row align-items-center">
                <div class="col-3">
                    <!-- Production Code -->
                    <div class="form-floating mb-2" onblur="">
                            <select class="form-select" id="ProdID" onblur="GComboBox_LF('gProdID', this.value)">
                                @foreach (DataRowView row in Model.gProdID)
                                {
                                    <option value="@row["Product Code"]" selected="@(Model.gProdIDSelected == row["Product Code"].ToString())">@row["Product"]</option>
                                }
                        </select>
                            <label for="ProdID">Production Code</label>
                    </div>
                </div>
                <div class="col-2">
                    <!-- Date -->
                    <div class="form-floating mb-2">
                            <input type="datetime-local" class="form-control" id="MfgTimeStamp" value="@Model.gTestDate?.ToString("yyyy-MM-ddThh:mm")" onblur="GMisc_LF('gTestDate',this.value)">
                        <label for="MfgTimeStamp">Date</label>
                    </div>
                </div>
                    <div class="col-2">
                        <!-- Time Code -->
                        <div class="form-floating mb-2">
                            <input type="time" class="form-control" id="MfgTimeCode" value="@Model.gTestTime?.ToString("HH:mm:ss")" onblur="GTestTime_LF('gTestTime',this.value)">
                            <label for="MfgTimeCode">Time Code</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <!-- Operator -->
                        <div class="form-floating mb-2" onblur="">
                            <select class="form-select" id="operator" onblur="GComboBox_LF('gOperator', this.value)">
                                @foreach (DataRowView row in Model.gOperator)
                                {
                                    <option value="@row["ID"]" selected="@(Model.gOperatorSelectedItem == (int)row["ID"])">@row["Employees"]</option>
                                }
                            </select>
                            <label for="operator">Operator</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <!-- Type -->
                        <div class="form-floating mb-2" >
                            <select class="form-select" id="TypeOp" onblur="GComboBox_LF('gType', this.value)">
                                @foreach (DataRowView row in Model.gType)
                                            {
                                        <option value="@row["ID"]" selected="@(Model.gTypeSelectedValue == (int)row["ID"])">@row["sName"]</option>
                                            }
                            </select>
                            <label for="TypeOp">Type</label>
                        </div>
                    </div>
            </div>

        </div>
    </div>
    </div>
</div>

<div class="row">
 <div class="col-3">
    <div class="row col-12 my-3">
            <button type="button" onclick=gNewCheckSheet_Click() class="btn btn-primary btn-sm">New In Process Check</button>
            <!-- Exclude -->
            <div class="custom-control custom-checkbox align-items-center">
                <input type="checkbox" class="custom-control-input" id="Exclude" checked="@Model.gExcludeIsChecked" onchange=" GMisc_LFs('gExclude', this)">
                <label class="custom-control-label" for="Exclude">Do not Include in SPC Analyses</label>
            </div>
        </div>
    <!-- Print / Perferation / Flipper -->
    <div class="card card-default col-12">
        <div class="card-header align-items-center">
            <h2 class="">Print / Perferation / Flipper</h2>
        </div>
        <div class="card-body">
            <div class="row align-items-center">
                    <!-- Top board print -->
                    <div class="form-floating mb-2 col-6" onblur="">
                        <select class="form-select" id="TopBoardPrint" onblur="GComboBox_LF('gTopBoardPrint', this.value)">
                            @foreach (DataRowView row in Model.gTopBoardPrintCollection)
                            {
                     <option value="@row["ID"]" selected="@(Model.gTopBoardPrint == (int)row["ID"])">@row["sName"]</option>
                            }
                        </select>
                        <label for="TopBoardPrint">Top board print</label>
                    </div>
                    <!-- Bottom board print -->
                <div class="form-floating mb-2 col-6" onblur="">
                        <select class="form-select" id="BottomBoardPrint" onblur="GComboBox_LF('gBottomBoardPrint', this.value)">
                            @foreach (DataRowView row in Model.gBottomBoardPrintCol)
                            {
                                <option value="@row["ID"]" selected="@(Model.gBottomBoardPrint == (int)row["ID"])">@row["sName"]</option>
                            }
                    </select>
                        <label for="BottomBoardPrint">Bottom board print</label>
                </div>
            </div>
            <div class="row align-items-center">
                    <!-- Perferation -->
                <div class="form-floating mb-2 col-6" onblur="">
                        <select class="form-select" id="Perferation" onblur="GComboBox_LF('gPerferation', this.value)">
                            @foreach (DataRowView row in Model.gPerferationCol)
                            {
                                <option value="@row["ID"]" selected="@(Model.gPerferation == (int)row["ID"])">@row["sName"]</option>
                            }
                    </select>
                        <label for="Perferation">Perferation</label>
                </div>
                    <!-- Flipper Operating-->
                <div class="form-floating mb-2 col-6" onblur="">
                        <select class="form-select" id="FlipperOperating" onblur="GComboBox_LF('gFlipper', this.value)">
                            @foreach (DataRowView row in Model.gFlipperCol)
                            {
                                <option value="@row["ID"]" selected="@(Model.gFlipper == (int)row["ID"])">@row["sName"]</option>
                            }
                    </select>
                        <label for="FlipperOperating">Flipper Operating</label>
                </div>
            </div>
        </div>
    </div>
  </div>
    <!-- Facer, Foam, and Hooder -->
    <div class="card card-default col-4">
        <div class="card-header align-items-center">
            <h2 class="">Facer, Foam, and Hooder</h2>
        </div>
        <div class="card-body">
            <div class="row align-items-center">
                <!-- gAdhesion -->
                <div class="form-floating mb-2 col-6" onblur="">
                    <select class="form-select" id="gAdhesion" onblur="GComboBox_LF('gAdhesion', this.value)">
                        @foreach (DataRowView row in Model.gAdhesionCol)
                        {
                            <option value="@row["ID"]" selected="@(Model.gAdhesionSelected == (int)row["ID"])">@row["sName"]</option>
                        }
                    </select>
                    <label for="gAdhesion">Facer Adhesion</label>
                </div>
                <!-- Edge Cut -->
                <div class="form-floating mb-2 col-6" onblur="">
                    <select class="form-select" id="EdgeCut" onblur="GComboBox_LF('gEdgeCut', this.value)">
                        @foreach (DataRowView row in Model.gEdgeCutCol)
                        {
                            <option value="@row["ID"]" selected="@(Model.gEdgeCutSelected == (int)row["ID"])">@row["sName"]</option>
                        }
                    </select>
                    <label for="EdgeCut">Edge Cut</label>
                </div>
            </div>
               <!-- Exposed Foam -->
                <div class="form-floating my-2 col-12">
                <input type="number" class="form-control text-center" id="ExposedForm" placeholder="" value="@Model.gExposedFoam" onblur="GMisc_LF('gExposedFoam',this.value)">
                    <label for="ExposedForm">Exposed Foam</label>
                </div>
            <div class="row align-items-center">
                <!-- Hooder Quality -->
                <div class="form-floating mb-2 col-6" onblur="">
                    <select class="form-select" id="HooderQuality" onblur="GComboBox_LF('gHooder', this.value)">
                        @foreach (DataRowView row in Model.gHooderCol)
                        {
                            <option value="@row["ID"]" selected="@(Model.gHooderSelected == (int)row["ID"])">@row["sName"]</option>
                        }
                    </select>
                    <label for="HooderQuality">Hooder Quality</label>
                </div>
                <!-- Board Quality -->
                <div class="form-floating mb-2 col-6" onblur="">
                    <select class="form-select" id="BoardQuality" onblur="GComboBox_LF('gBoardQuality', this.value)">
                        @foreach (DataRowView row in Model.gBoardQualityCol)
                        {
                            <option value="@row["ID"]" selected="@(Model.gBoardQualitySelected == (int)row["ID"])">@row["sName"]</option>
                        }
                    </select>
                    <label for="BoardQuality">Board Quality</label>
                </div>
            </div>
        </div>
    </div>
    <!-- Cup Shot (Reactivity Data) -->
    <div class="card card-default col-md-3">
        <div class="card-header align-items-center">
            <h2 class="">Cup Shot (Reactivity Data)</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <!-- Empty cup mass (g) -->
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" id="Emptycupmass" placeholder="" value="@Model.gEmptyCupMassG" onblur="GCupReactivity_LF('gEmptyCupMassG',this.value)">
                        <label for="Emptycupmass">Empty cup mass (g)</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Cream Time (s) -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="CreamTime" placeholder="" value="@Model.gCreamTimeS" onblur="GCupReactivity_LF('gCreamTimeS',this.value)">
                        <label for="CreamTime">Cream Time (s)</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Gel Time (s) -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="GelTime" placeholder="" value="@Model.gGelTimeS" onblur="GCupReactivity_LF('gGelTimeS',this.value)">
                        <label for="GelTime">Gel Time (s)</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Tack-free Time (s) -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="Tack-free" placeholder="" value="@Model.gTackFreeTimeS" onblur="GCupReactivity_LF('gTackFreeTimeS',this.value)">
                        <label for="Tack-free">Tack-free Time (s)</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Full cup mass (g) -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="Fullcupmass" placeholder="" value="@Model.gFullCupMassG" onblur="GCupReactivity_LF('gFullCupMassG',this.value)">
                        <label for="Fullcupmass">Full cup mass (g)r</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Foam Density (lb/ft3) -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="FoamDensity" placeholder="" value="@Model.gFoamDensityPCF" disabled>
                        <label for="FoamDensity">Foam Density (lb/ft3)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 h-50">
        <!-- Comments -->
        <div class="form-floating ">
            <textarea class="form-control" placeholder="Address" id="Comment" style="height: 240px;" onblur="GMisc_LF('gComment',this.value)">@Model.gComment</textarea>
            <label for="Comment">Comments</label>
        </div>
    </div>
</div>


<div class="row">
    <div class=" col-md-3">
        <!-- First Bundle -->
        <div class="card card-default h-auto">
            <div class="card-header align-items-center">
                <h2 class="">First Bundle</h2>
            </div>
            <div class="row px-4">
                <div class="card-body d-flex flex-column col-md-6 justify-content-evenly">
                    <!-- Bundle Quantity -->
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" id="BundleQuantity1" placeholder="" value="@Model.gQuantity" onblur="FirstBundle_LF('gQuantity', this.value)">
                        <label for="BundleQuantity1">Bundle Quantity</label>
                    </div>

                    <!-- Top Board Length -->
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" id="TopBoardLength1" placeholder="" value="@Model.gTopLength" onblur="FirstBundle_LF('gTopLength', this.value)">
                        <label for="TopBoardLength1">Top Board Length</label>
                    </div>
                    <!-- Bottom Board Length -->
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" id="BottomBoardLength1" placeholder="" value="@Model.gBottomLength" onblur="FirstBundle_LF('gBottomLength', this.value)">
                        <label for="BottomBoardLength1">Bottom Board Length</label>
                    </div>
                </div>
                <div class="card-body d-flex flex-column col-md-6 justify-content-evenly">
                    <!-- Board/Bundle Width -->
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" id="Board/BundleWidth1" placeholder="" value="@Model.gWidth" onblur="FirstBundle_LF('gWidth', this.value)">
                        <label for="Board/BundleWidth1">Board/Bundle Width</label>
                    </div>
                    <!-- Middle Board Length -->
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" id="MiddleBoardLength1" placeholder="" value="@Model.gMiddleLength" onblur="FirstBundle_LF('gMiddleLength', this.value)">
                        <label for="MiddleBoardLength1">Middle Board Length</label>
                    </div>
                    <!-- Diagonal 1 -->
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" id="Diagonal1_1" placeholder="" value="@Model.gDiagonal1" onblur="FirstBundle_LF('gDiagonal1', this.value)">
                        <label for="Diagonal1_1">Diagonal 1</label>
                    </div>
                </div>
            </div>
            <div class="row px-4 mb-2">
                <!-- Diagonal 2 -->
                <div class="form-floating">
                    <input type="number" class="form-control" id="Diagonal2_1" placeholder="" value="@Model.gDiagonal2" onblur="FirstBundle_LF('gDiagonal2', this.value)">
                    <label for="Diagonal2_1">Diagonal 2</label>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-3">
        <!-- Second Bundle -->
        <div class="card card-default h-auto">
            <div class="card-header align-items-center">
                <h2 class="">Second Bundle</h2>
            </div>
            <div class="row px-4">
                <div class="card-body d-flex flex-column col-md-6 justify-content-evenly">
                    <!-- Bundle Quantity -->
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" id="BundleQuantity2" placeholder="" value="@Model.gQuantity_2" onblur="SecondBundle_LF('gQuantity_2', this.value)">
                        <label for="BundleQuantity2">Bundle Quantity</label>
                    </div>

                    <!-- Top Board Length -->
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" id="TopBoardLength2" placeholder="" value="@Model.gTopLength_2" onblur="SecondBundle_LF('gTopLength_2', this.value)">
                        <label for="TopBoardLength2">Top Board Length</label>
                    </div>
                    <!-- Bottom Board Length -->
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" id="BottomBoardLength2" placeholder="" value="@Model.gBottomLength_2" onblur="SecondBundle_LF('gBottomLength_2', this.value)">
                        <label for="BottomBoardLength2">Bottom Board Length</label>
                    </div>
                </div>
                <div class="card-body d-flex flex-column col-md-6 justify-content-evenly">
                    <!-- Board/Bundle Width -->
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" id="Board/BundleWidth2" placeholder="" value="@Model.gWidth_2" onblur="SecondBundle_LF('gWidth_2', this.value)">
                        <label for="Board/BundleWidth2">Board/Bundle Width</label>
                    </div>
                    <!-- Middle Board Length -->
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" id="MiddleBoardLength2" placeholder="" value="@Model.gMiddleLength_2" onblur="SecondBundle_LF('gMiddleLength_2', this.value)">
                        <label for="MiddleBoardLength2">Middle Board Length</label>
                    </div>
                    <!-- Diagonal 1 -->
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" id="Diagonal1_2" placeholder="" value="@Model.gDiagonal1_2" onblur="SecondBundle_LF('gDiagonal1_2', this.value)">
                        <label for="Diagonal1_2">Diagonal 1</label>
                    </div>
                </div>
            </div>
            <div class="row px-4 mb-2">
                <!-- Diagonal 2 -->
                <div class="form-floating">
                    <input type="number" class="form-control" id="Diagonal2_2" placeholder="" value="@Model.gDiagonal2_2" onblur="SecondBundle_LF('gDiagonal2_2', this.value)">
                    <label for="Diagonal2_2">Diagonal 2</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-default h-auto px-4">
            <div class="card-header align-items-center">
                <h2 class="">Board Deviation</h2>
            </div>
           <div class="card-body d-flex flex-column col-md-12 justify-content-evenly">
           <div class="col-md-12">
            <!-- Deviation from Table -->
            <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="DeviationfromTable" placeholder="" value="@Model.gDeviationAbs" onblur="Deviation_LF('gDeviationAbs', this.value)">
            <label for="DeviationfromTable">Deviation from Table</label>
            </div>
        </div>

               <div class="col-md-12">
            <!-- Deviation (Bowing) Type -->
            <div class="form-floating mb-2" onblur="GWF_Info_LF('gDevType', this.value)">
                        <select class="form-select" id="DeviationType" asp-for="gDeviationType" onblur="Deviation_LF('gDeviationType', this.value)">
                    <option value="Up">Up</option>
                    <option value="Down">Down</option>
                </select>
            <label for="DeviationType">Deviation Type</label>

            </div>
        </div>
            <div class="col-md-12">
                <!-- Deviation Directed -->
                <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="Deviation" placeholder="" value="@Model.gBoardDeviationRel" disabled>
                    <label for="Deviation">Deviation (Directed)</label>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="col-3 align-items-center mt-5">
        <div class="col-12 row align-items-center px-5 my-3">
            <button type="button" onclick=GCopyDataSet() class="btn btn-primary btn-sm">Copy Data To ClipBoard</button>
            </div>
            <div class="px-3">
            <!-- gCopyData -->
            <div class="form-floating mb-2" onblur="">
                <select class="form-select" id="CopyData" onblur="@Model.gCopyData==this.selectedIndex" >
                    <option value="today">Today's Data</option>
                    <option value="24hours">Past 24 hours</option>
                    <option value="1week">Past 1 week</option>
                    <option value="1month">Past 1 month</option>
                    <option value="6months">Past 6 months</option>
                    <option value="1year">Past 1 year</option>
                    <option value="all">All Data</option>
                </select>
                <label for="CopyData">Copy Data</label>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <!-- Board Thickness -->
    <div class="card card-default col-md-2">
        <div class="card-header align-items-center">
            <h2 class="">Board Thickness</h2>
        </div>
        <div class="card-body">
            <div class="row mt-3">
                <div class="col-md-6">
                    <!-- Loc1 -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="gThickness1" placeholder="" onblur="GBoardthickness_LF('gThickness1', this.value)" value="@Model.gThickness1">
                        <label for="gThickness1">@Model.gLoc1</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Loc2 -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="gThickness2" placeholder="" value="@Model.gThickness2" onblur="GBoardthickness_LF('gThickness2', this.value)">
                        <label for="gThickness2">@Model.gLoc2</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Loc3 -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="gThickness3" placeholder="" value="@Model.gThickness3" onblur="GBoardthickness_LF('gThickness3', this.value)">
                        <label for="gThickness3">@Model.gLoc3</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Average -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="Average" placeholder="" value="@Model.gThicknessAvg" disabled>
                        <label for="Average">Average</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Taper -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="Taper" placeholder="" value="@Model.gTaper" disabled>
                        <label for="Taper">Taper</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bundle Averages -->
    <div class="card card-default col-md-2">
        <div class="card-header align-items-center">
            <h2 class="">Bundle Averages</h2>
        </div>
        <div class="card-body">
            <div class="row text-center mb-2">
                <div class="col-md-6">
                        <p>Bundle 1</p>
                </div>
                <div class="col-md-6">
                    <p>Bundle 2</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Length Average -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="LengthAverage" placeholder="" value="@Model.gLengthAvg_1" disabled>
                        <label for="LengthAverage">Length Average</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Length Average -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="LengthAverage_2" placeholder="" value="@Model.gLengthAvg_2" disabled>
                        <label for="LengthAverage_2">Length Average</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Width -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="Width" placeholder="" value="@Model.gWidthAvg_1" disabled>
                        <label for="Width">Width</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Width -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="Width_2" placeholder="" value="@Model.gWidthAvg_2" disabled>
                        <label for="Width_2">Width</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Squareness -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="Squareness" placeholder="" value="@Model.gSquareness_1" disabled>
                        <label for="Squareness">Squareness</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Squareness -->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="Squareness2" placeholder="" value="@Model.gSquareness_2" disabled>
                        <label for="Squareness2">Squareness</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SPC Chart -->
    <div class="col-8 px-2">
    <div class="form-floating ">
        <textarea class="form-control" placeholder="Address" id="SPC_Chart" style="height: 240px;" onblur="" disabled></textarea>
            <label for="SPC_Chart" class="">
            <h1>
                    Place Holder for SPC Chart
                </h1>
            </label>
    </div>
    </div>
</div>
@section Scripts{
 
   <script>
        function gNavClick(direction) {

            var form = $('#SearchParamsForm');

            $.ajax({
                type: "POST",
                url: "/Mfg_Group/MfgProcessCheck?handler=DataSetNavi_Click",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { direction: direction },
                success: function (response) {
                     console.log('Server response:', response);
                  //  location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function gNewCheckSheet_Click() {

            var form = $('#SearchParamsForm');

            $.ajax({
                type: "POST",
                url: "/Mfg_Group/MfgProcessCheck?handler=GNewCheckSheet_Click",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
             //   data: { direction: direction },
                success: function (response) {
                    // console.log('Server response:', response);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function FirstBundle_LF(Name, value) {
            $.ajax({
                type: "POST",
                url: "/Mfg_Group/MfgProcessCheck?handler=GFirstBundle_LF",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { Name:Name, value: value },
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function SecondBundle_LF(Name, value) {
            $.ajax({
                type: "POST",
                url: "/Mfg_Group/MfgProcessCheck?handler=GSecondBundle_LF",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { Name: Name, value: value },
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function GBoardthickness_LF(Name, value) {
            $.ajax({
                type: "POST",
                url: "/Mfg_Group/MfgProcessCheck?handler=Boardthickness_LF",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { Name: Name, value: value },
                success: function (response) {
                    // console.log('Server response:', response);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function GMisc_LFs(Name, element) {
            let value;

            if (element.type === "checkbox") {
                value = element.checked ? "true" : "false";
            } else {
                value = element.value;
            }
            GMisc_LF(Name, value);
        }
        function GMisc_LF(Name, value) {
            $.ajax({
                type: "POST",
                url: "/Mfg_Group/MfgProcessCheck?handler=GMisc_LF",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { Name: Name, value: value },
                success: function (response) {
                    // console.log('Server response:', response);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function GTestTime_LF(Name, value) {
            $.ajax({
                type: "POST",
                url: "/Mfg_Group/MfgProcessCheck?handler=GTestTime_LF",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { Name: Name, value: value },
                success: function (response) {
                    // console.log('Server response:', response);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function GCupReactivity_LF(Name, value) {
            $.ajax({
                type: "POST",
                url: "/Mfg_Group/MfgProcessCheck?handler=GCupReactivity_LF",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { Name: Name, value: value },
                success: function (response) {
                    // console.log('Server response:', response);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function Deviation_LF(Name, value) {
            $.ajax({
                type: "POST",
                url: "/Mfg_Group/MfgProcessCheck?handler=Deviation_LF",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { Name: Name, value: value },
                success: function (response) {
                    // console.log('Server response:', response);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function GComboBox_LF(Name, value) {
            $.ajax({
                type: "POST",
                url: "/Mfg_Group/MfgProcessCheck?handler=GComboBox_LF",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { Name: Name, value: value },
                success: function (response) {
                    // console.log('Server response:', response);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function GCopyDataSet() {
            $.ajax({
                type: "POST",
                url: "/Mfg_Group/MfgProcessCheck?handler=GCopyDataSet",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                success: function (response) {
                    // console.log('Server response:', response);
                    navigator.clipboard.writeText(response.data)
                        .then(function () {
                            console.log('Text copied to clipboard');
                            // Optionally reload the page
                            location.reload();
                        })
                        .catch(function (error) {
                            console.error('Error copying text to clipboard:', error);
                        });
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
   </script>
}
